/* Forms */
form input[type="text"],
form input[type="email"],
form textarea,
form select {border:1px solid #e1e1e1; border-radius:2px; color:#666; display:block; font-family:Arial, Helvetica, sans-serif; font-size:15px;}

form input[type="text"],
form input[type="email"],
form textarea {padding:6px 10px;}
form select {padding:5px 6px 5px 10px;}
form div p {color:#666;}
form div p em {color:red;}
form p {margin:0 0 2px;}

.main form input[type="text"],
.main form textarea,
.main form select {margin-bottom:15px;}


/* Contact Form Messages */
div.wpcf7-mail-sent-ok {border:1px solid #398F14; border-radius:4px;}
div.wpcf7-response-output {margin:0; padding:4px 10px;}


/* Newsletter & Search */
form.newsletter input[type="text"],
form.search input[type="text"] {border:1px solid #d0d0d0; border-right:0; border-radius:2px 0 0 2px; color:#797979; float:left; font-size:11px; line-height:14px; padding:6px 5px 5px;}
form.newsletter input[type="submit"],
form.search input[type="submit"] {background:black; border:none; border-radius:0 2px 2px 0; color:white; float:left; font:12px/22px din-light, sans-serif; height:27px; overflow:hidden; padding:3px 10px 1px; text-transform:uppercase;}
form.newsletter  input[type="submit"]:hover,
form.search input[type="submit"]:hover {color:#e0e0e0;}

/* Newsletter Form */
form.newsletter input[type="text"] {width:130px;}

/* Search Form */
form.search input[type="text"] {width:160px;}
.large-form form.search input[type="text"] {font:italic 100 18px/30px din-light, helvetica, arial; padding:12px 12px 10px 12px; width:50%;}
.large-form form.search input[type="submit"] {font:22px/22px din-light, helvetica, arial; height:54px; margin:0; padding:5px 30px 0;}
