
/* Single Post */

.single, .page-template-page-basic, .page-template-default {
	.gallery {
		z-index:1;
	}

	main.container {
		z-index:1;
	}
}

.single-post 
.single-post .gallery img {display:block; width:100%; z-index:1;}

.category-blog .post-thumb {height:175px; margin-bottom:20px;}

.featured {margin-top:0 !important;}

.featured-post {height:500px;}

.single-post .entry-content blockquote {margin-top:20px;}
.single-post .entry-content object {max-width:100%; width:100%;}

.single-post .recent h2 {margin-bottom:10px;}

.content .addthis_toolbox {margin-top:20px;}
.content .addthis_toolbox iframe {margin:0;}
.content .addthis_default_style .at300b {padding:0;}

.read-comments {border-top:1px dotted #ccc; display:block; margin:40px 0 20px;}
.read-comments:hover {text-decoration:none;}
.read-comments .icon-angle-down {background-color:#e1e1e1; border:15px solid white; border-bottom:0; border-top:0; border-radius:100%; color:#999; display:block; font-size:26px; height:40px; line-height:40px; margin:-22px auto 0; text-align:center; width:40px;}
.read-comments:hover .icon-angle-down {background-color:#d1d1d1;}
.read-comments .text {color:#333; display:block; font:18px/18px din-light, sans-serif; margin-top:5px; text-align:center;}
.read-comments:hover .text {text-decoration:none;}


header .meta {float:left; margin-bottom:20px; width:auto;}

/* Phone - Vertical */
@media (max-width:480px) {
	.post-thumb {
		height:140px;
	}
}

/* Small Browser */
@media (min-width:1200px) {
	.post-thumb {
		height:240px;
	}
}